// Colors
$color-black: #000;
$color-white: #fff;

$color-gray-10: #9c9c9c;
$color-gray-30: #3c3c3c;
$color-gray-50: #333;

$color-primary-blue: #2c3878;

// Transitions
$transition-base: 0.3s ease;

// Breakpoints
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;